/* Common styles */
@import url('./base.css');

/* https://www.figma.com/design/ikD0S2P6gN6MKQUXfA11RG/HW-JavaScript--Copy-?node-id=3-941&p=f&t=LTI3njc7cUpgv7BM-0 */

.loader {
  display: none;
}
body.loading .loader {
  display: block;
}

/* Центрування loader */
.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.form {
  display: flex;
  gap: 14px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  background-color: #ffffff;
}
.form input {
  border: 2px solid #808080;
  border-radius: 8px;
  outline: none;
  width: 272px;
  height: 40px;
  padding-left: 16px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease;
}
.form input:focus,
.form input:active {
  border-color: #4e75ff;
  outline: none;
}
.form input::placeholder {
  color: #808080;
}

.form button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  border: none;
  color: #fff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  background-color: #4e75ff;
  transition: background-color 0.3s ease;
}
.form button:hover {
  background-color: #553acc;
}

/* ==================================================================== */

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
  max-width: 100%;
}

.gallery-item {
  width: calc((100% - 24px * 4) / 5);
  /* flex-grow: 0; */
  /* flex-shrink: 0; */
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 8px 10px rgba(19, 18, 19, 0.349);
  transition: box-shadow 0.3s ease;
}
.gallery-item:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.gallery-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.gallery-img:hover {
  transform: scale(1.03);
}

.ul-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}

.ul-info-li {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  font-size: 12px;
  font-style: italic;
  font-weight: 700;
  color: #2d2b2b;
}
.ul-info-li-p {
  font-weight: 400;
}


/* Responsive styles */
@media (min-width: 1050px) and (max-width: 1220px) {
  .gallery-item {
    width: calc((100% - 96px) / 4); 
  }
}

@media (min-width: 680px) and (max-width: 1050px) {
  .gallery-item {
    width: calc((100% - 48px) / 3);
  }
}

@media (min-width: 400px) and (max-width: 680px) {
  .gallery-item {
    width: calc((100% - 24px) / 2); 
  }
}
@media (max-width: 400px) {
  .gallery-item {
    width: 100%;
  }
}


